.unwilling {
    width: 100%;
    /* max-height: 100vh; */
    position: relative;
    margin-top: 25px;
    /* padding: 50px; */
}

.umain_container
{
min-width: 100%;
    max-height: 100%;
    font-family: "Poppins";
}
.unwilling > .heading{
    width: 100%;    
    text-align: center;
}
.unwilling .heading h2{
    font-size: 60px;
    font-family: "Poppins";
}
.down_box_container{
    padding-right: 16px;
    padding-top: 16px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.down_image_box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}
.down_image_box .content h1{ 
    font-size: 5em;
}
.down_image_box .content h4{ 
    font-size: 2em;
}
.down_image_box .content p{
    font-size: 1em;
    color: #3B637F;
}
.right_box_count h1{
    font-size: 5em;
}
.right_box_count h4{
    font-size: 2.5em;
}
.hrline
{
    width: 100%;
    height: 1px;
    background-color: rgb(0, 0, 0, 0.75 );
}
.grbox
{
    background-color: #87FF93;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly !important;
    padding: 5em;
    gap: 2em;
}


@media only screen and (max-width:600px){
    /* .unwilling{
        padding-left: 30px;
        padding-right: 30px;
    } */
     .umain_container
     {
        padding: 23px !important;
        margin: 0;
     }
     .unwilling > .heading
     {
        padding: 23px;
     }
    .unwilling > .heading > h2{
        font-size: 35px;
    }
    .down_image_box, .grbox{
        padding: 30px;
    }
    .down_image_box .content h1{ 
        font-size: 8vw;
    }
    .down_image_box .content h4{
        font-size: medium;
    }
    .down_image_box .content p{
        font-size: 10px;
    }
    .unwilling_right_box{
        margin-top: 20px;
    }
    .right_box_count h1{
        font-size: 8vw;
    }
    .right_box_count h4{
        font-size: medium;
    }
}