.unwilling {
    width: 100%;
    max-height: 100vh;
    position: relative;
    margin-top: 25px;
}

.umain_container
{
    padding: 0 50px;
    max-width: 100%;
    max-height: 100%;
}
.unwilling .heading{
    width: 100%;    
    text-align: center;
}
.unwilling .heading h2{
    font-size: 60px;
}
.down_box_container{
    padding-right: 16px;
    padding-top: 16px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}
.down_image_box{
    display: flex;
    padding: 50px;
    border-radius: 32px;
    width: 100%;
    height: 100%;
}
.down_image_box .content h1{ 
    font-size: 5em;
}
.down_image_box .content h4{ 
    font-size: 2em;
}
.down_image_box .content p{
    font-size: 1em;
    color: #3B637F;
}
.right_box_count h1{
    font-size: 5em;
}
.right_box_count h4{
    font-size: 2.5em;
}
.hrline
{
    width: 100%;
    height: 1px;
    background-color: rgb(0, 0, 0, 0.75 );
}
.grbox
{
    background-color: #87FF93;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly !important;
    padding: 5em;
}


@media only screen and (max-width:600px){
    .unwilling{
        padding-left: 30px;
        padding-right: 30px;
    }
    .unwilling .heading h2{
        font-size: 40px;
    }
    .down_image_box{
        padding: 20px;
    }
    .down_image_box .content h1{ 
        font-size: 8vw;
    }
    .down_image_box .content h4{
        font-size: medium;
    }
    .down_image_box .content p{
        font-size: 10px;
    }
    .unwilling_right_box{
        margin-top: 20px;
    }
    .right_box_count h1{
        font-size: 8vw;
    }
    .right_box_count h4{
        font-size:medium;
    }
}