/* *
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
body
{
  font-family: "Poppins";
}
.nav_head{
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding: 0 23px;
    z-index: 1;
    transition: .5s;
  }
.nav_head.active
{
  background-color: rgba(255, 255, 255, 0.55);
  backdrop-filter: blur(12px)
}
  nav
  {
    display: flex;
    align-items: center;
  }
  .nav_head .nav_logo{
    display: flex;
  }
  .nav_head div h3{
    font-weight: 400;
    font-size: 1.8vw;
  }
  .nav_head .nav_logo p{
    font-size: 0.7vw;
    margin: 0;
    margin-top: 2%;
  }
  nav a{
      margin: 0 1rem;
      text-decoration: none;
      font-size: 15px;
      font-family: "Poppins";
      color: rgb(66, 66, 66);
  }
  nav a:hover{
    color: #1E88E5;
  }
  .involved{
    padding: 8px 20px;
    font-size: 15px;
    border-radius: 20px;
    border: none;
    outline: none;
    color: white;
    background-color: #1E88E5;
    border: 2px solid #1E88E5;
    cursor: pointer;
  }
  .involved:hover{
    color: #1E88E5;
    border: 2px solid #1E88E5;
    background: transparent;
    transition: background-color 0.3s ease;
  }
  .nav_head .nav-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    display: none;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
  }
  .nav-cls-btn{
    color: white;
  }
  .btn-log{
    position: absolute;
    right: 5%;
    padding: 5ps;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
  }
  @media only screen and (min-width: 1024px){
    .btn-hide-lg{
      display: none;  
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .btn-hide{
      display: none;
    }
    .nav_head .nav-btn{
      visibility: visible;
      display: block;
      opacity: 1;
    }
    .nav_head nav{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      background-color: white;
      color: white;
      transition: 1s;
      transform: translateY(-100vh);
    }
    .nav_head .responsive_nav{
      transform: none;
    }
    nav .nav-cls-btn{
      position: absolute;
      top: 2rem;
      right: 2rem;
      color: black;
    }
    nav a{
      font-size: 20px;
    }
  }
  @media only screen and (max-width: 700px){
    .nav_head div h3{
      font-size: 20px;
    }
    .nav_head .nav_logo p{
        font-size: 7px;
    }
  }
  
  
  